@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-left">
        <h1 class="display-4">CORS Enabled JSON Response Techniques</h1>
        <p>All communications with Web API service is CORS enabled.</p>
        <p>Make a request and get a response.  The response contains a JSON object.</p>

        <ul>
            <li><a href="AjaxData">jQuery AJAX Data</a></li>
            <li><a href="Fetch">Fetch</a></li>
            <li><a href="FetchCors">Fetch (Cors Mode On)</a></li>
            <li><a href="FetchPromise">Fetch Promise</a></li>
            <li><a href="FetchData">Fetch Data</a></li>
            <li><a href="XMLHttpRequest">XMLHttpRequest</a></li>
        </ul>
    </div>